name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository.
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.50.0
          override: true
          components: rustfmt, clippy

      - name: Setup the Rust dependency cache.
        uses: Swatinem/rust-cache@v1

      - name: Format
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --all-targets --all-features

      - name: Build
        run: cargo build --release

      - name: Test IR
        run: cargo test -p ir

      - name: Test Asm
        run: cargo test -p asm

      - name: Test Xir
        run: cargo test -p xir

      - name: Test Pat
        run: cargo test -p pat

      - name: Test Xim
        run: cargo test -p xim

      - name: Test Isel
        run: cargo test -p isel

      - name: Test Optimizer
        run: cargo test -p optimizer

      - name: Test Bler
        run: cargo test -p bler

      - name: Test Bline
        run: cargo test -p bline

      - name: Test Prim
        run: cargo test -p prim

      - name: Test Xpand
        run: cargo test -p xpand

      - name: Test Mmap
        run: cargo test -p mmap
